name: AA-Check-GitHub-Actions-spelling
on: # rebuild any PRs and main branch changes
  workflow_dispatch: # allow manual trigger
  workflow_call: #Allow you to use this workflow in another WF

jobs:
  spellcheck: # run the action
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: streetsidesoftware/cspell-action@v6